In [1]:
#Import all the libraries required

import pandas as pd
import selenium
from selenium import webdriver

#to ignore DeprecationWarning warnings
import warnings
warnings.filterwarnings('ignore',category=DeprecationWarning)

### 1. Python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

Scraping data of first 10 job-title, job-location, company_name, experience_required.

In [14]:
#connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

driver.get('https://www.naukri.com/')

#finding elements for job search: job and location
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")

search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

#searching the jobs by clicking search buttion
search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [15]:
#let us start scraping the data of each elements and storing them in empty lists.

job_title=[]
job_location=[]
company_names=[]
experience_required=[]


#extracting all job title tags first
titles_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')


#extracting all the text data from tags fetched
for i in range(len(titles_tag)):
    if i <10:
        title= titles_tag[i].text
        job_title.append(title)

#extracting all job location tags 
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')


#extracting all the text data from tags fetched
for i in range(len(location_tags)):
    if i <10:
        location= location_tags[i].text
        job_location.append(location)


#extracting all company_name tags
companyname_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

#extracting all the text data from tags fetched
for i in range(len(companyname_tags)):
    if i <10:
        name= companyname_tags[i].text
        company_names.append(name)


#extracting  experience_required tags
experience_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

#extracting all the text data from tags fetched
for i in range(len(experience_tags)):
    if i <10:
        experience = experience_tags[i].text
        experience_required.append(experience)
    

#checking the length of all lists
print("The length of lists are:\n ",len(job_title),len(job_location),len(company_names),len(experience_required))


#converting all the list into dataframe
print("\n The Dataframe of scraped data:")
Jobs = pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name': company_names, 'Experience Required': experience_required})


Jobs

The length of lists are:
  10 10 10 10

 The Dataframe of scraped data:

,Job Title,Job Location,Company Name,Experience Required
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
1,Business Analyst/ Data Analyst- Capital Market...,"Pune, Bangalore/Bengaluru",Genpact,7-12 Yrs
2,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,Schneider Electric,2-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
6,Senior Data Analyst for HANA Platform,Bangalore/Bengaluru,Intel,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,NetraDyne Technology India Private Limited,2-5 Yrs
8,Assistant/deputy Manager - Geo-spatial Data An...,"Gurgaon/Gurugram, bangalore",Maruti Suzuki India,3-5 Yrs
9,Data Analyst,Bangalore/Bengaluru,Slice,0-2 Yrs

### 2. Python program to scrape data for “Data Scientist” Job position in “Bangalore” location 

Scraping data of first 10 job-title, job-location, company_name.

In [16]:
#connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

driver.get('https://www.naukri.com/')

#finding elements for job search: job and location
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

#searching the jobs by clicking search buttion
search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [18]:
#let us start scraping the data of each elements and storing them in empty lists.

job_title=[]
job_location=[]
company_names=[] 


#extracting all job title tags first
titles_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')


#extracting all the text data from tags fetched
for i in range(len(titles_tag)):
    if i <10:
        title= titles_tag[i].text
        job_title.append(title)

#extracting all job location tags 
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')


#extracting all the text data from tags fetched
for i in range(len(location_tags)):
    if i <10:
        location= location_tags[i].text
        job_location.append(location)


#extracting all company_name tags
companyname_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

#extracting all the text data from tags fetched
for i in range(len(companyname_tags)):
    if i <10:
        name= companyname_tags[i].text
        company_names.append(name)
    

#checking the length of all lists
print("The length of lists are:",len(job_title), len(job_location),len(company_names))

#converting all the list into dataframe
print("The Dataframe of scraped data:")
Jobs = pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name': company_names})


Jobs

The length of lists are: 10 10 10
The Dataframe of scraped data:

,Job Title,Job Location,Company Name
0,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited
1,Deputy Manager - Data Scientist,Bangalore/Bengaluru,HDFC LIFE INSURANCE COMPANY LIMITED
2,Tcs Hiring For Azure ML Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Tata Consultancy Services Ltd.
3,Senior Engineer - AIML - Data Scientist,Bangalore/Bengaluru,Unisys
4,Senior data scientist,Bangalore/Bengaluru,Compile Inc
5,Cognitive/AI Senior Data Scientist,Bengaluru/Bangalore,IBM India Pvt. Limited
6,Senior Data Scientist,Bangalore/Bengaluru,Visa
7,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
8,Data scientist,Bangalore/Bengaluru,Superior Group
9,Data Scientist,Bangalore/Bengaluru,Thoucentric Technology Pvt ltd

### 3. Python program to scrape data for “Data Scientist” designation for first 10 job results using location=Delhi/NCR and salary filter in https://www.naukri.com/

In [19]:
#connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

driver.get('https://www.naukri.com/')

#finding elements for job search: job and location
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

#searching the jobs by clicking search buttion
search_btn = driver.find_element_by_xpath('//div[@class="search-btn"]/button')
search_btn.click()

In [20]:
#filters: location = Delhi 
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_filter.click()

In [21]:
#filters: salary
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

In [22]:
#let us start scraping the data of each elements and storing them in empty lists.

job_title=[]
job_location=[]
company_names=[]
experience_required=[]


#extracting all job title tags first
titles_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')


#extracting all the text data from tags fetched
for i in range(len(titles_tag)):
    if i <10:
        title= titles_tag[i].text
        job_title.append(title)

#extracting all job location tags 
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')


#extracting all the text data from tags fetched
for i in range(len(location_tags)):
    if i <10:
        location= location_tags[i].text
        job_location.append(location)


#extracting all company_name tags
companyname_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

#extracting all the text data from tags fetched
for i in range(len(companyname_tags)):
    if i <10:
        name= companyname_tags[i].text
        company_names.append(name)


#extracting  experience_required tags
experience_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

#extracting all the text data from tags fetched
for i in range(len(experience_tags)):
    if i <10:
        experience = experience_tags[i].text
        experience_required.append(experience)
    

#checking the length of all lists
print("The length of lists are:",len(job_title), len(job_location),len(company_names),len(experience_required))

#converting all the list into dataframe
print("The Dataframe of scraped data:")
Jobs = pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name': company_names, 'Experience Required': experience_required})


Jobs

The length of lists are: 10 10 10 10
The Dataframe of scraped data:

,Job Title,Job Location,Company Name,Experience Required
0,Senior Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR",Wipro,4-9 Yrs
1,Senior Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Wipro,5-10 Yrs
2,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
3,Data Scientist- Predictive Modelling,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru, ...",Emmess technologies private Limited,3-8 Yrs
4,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
5,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,4-9 Yrs
6,Data Scientist | Senior Data Scientist,"Delhi / NCR, DelhiNCR",4bell Technology,6-11 Yrs
7,Data Scientist: Advanced Analytics,Delhi / NCR,IBM India Pvt. Limited,5-10 Yrs
8,Sr. Data Scientist,Gurgaon/Gurugram,Genpact,4-9 Yrs
9,Senior Manager - Forecasting data scientist,Gurgaon/Gurugram,Genpact,5-10 Yrs

### 4.  Python program to scrape data of first 100 sunglasses listings on https://www.flipkart.com/  
Scraping Brand, Product Description,Price

In [23]:
#connect to the webdriver
driver= webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

driver.get('https://www.flipkart.com/')

#click the cancel button for pop up.
cancel_btn = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
cancel_btn.click()

#finding elements for product search: 
product_search= driver.find_element_by_class_name("_3704LK")
product_search.send_keys("sunglasses")

search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [26]:
#scraping data
Brand=[]
Product_Description=[]
Price=[]

#fetching data from multiple pages iterating over page numbers
a = driver.current_url

for page in range(1,4,1):
    driv = a +'page='+str(page)
    
        
    #extracting all brand tags 
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

    #extracting text data from the tags
    for i in range(len(brand_tags)):
        if page == 3:
            if i <20:
                brand_name= brand_tags[i].text
                Brand.append(brand_name)
        else:
            brand_name= brand_tags[i].text
            Brand.append(brand_name)

    #extracting all Product description tags 
    prod_desc_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

    #extracting text data from the tags
    for i in range(len(prod_desc_tags)):
        if page == 3:
            if i <22:
                description = prod_desc_tags[i].text
                Product_Description.append(description)
        else:
            description = prod_desc_tags[i].text
            Product_Description.append(description)
            
    #selecting price and percentage discount values  of different class
    price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    percent_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in range(len(price_tags)):
        if page == 3:
            if i <20:
                cost = price_tags[i].text+','+percent_tags[i].text
                Price.append(cost)
        else:
            cost = price_tags[i].text+','+percent_tags[i].text
            Price.append(cost)


print("The length of lists are:",len(Brand), len(Product_Description),len(Price))

print("The Dataframe of scraped data:")
df = pd.DataFrame({'Brand':Brand,'Product Description':Product_Description,'Price':Price})
df

The length of lists are: 100 100 100
The Dataframe of scraped data:

,Brand,Product Description,Price
0,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...","₹295,85% off"
1,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),"₹999,50% off"
2,SRPM,UV Protection Wayfarer Sunglasses (56),"₹188,85% off"
3,PIRASO,UV Protection Aviator Sunglasses (54),"₹212,86% off"
4,Elligator,UV Protection Round Sunglasses (54),"₹248,90% off"
...,...,...,...
95,ROYAL SON,"UV Protection, Gradient Rectangular Sunglasses...","₹759,62% off"
96,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),"₹319,84% off"
97,ROZZETTA CRAFT,"by Lenskart Polarized, UV Protection Wayfarer ...","₹383,80% off"
98,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),"₹474,78% off"
99,VINCENT CHASE,"UV Protection, Riding Glasses, Mirrored Wayfar...","₹999,50% off"

### 5. Python program to scrape 100 reviews data from flipkart.com for iphone11 phone. 
Scrape 1. Rating, 2. Review_summary 3. Full review of first 100 reviews

In [27]:
#connect to the webdriver
driver =  webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

#to scrape the data from given link
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace")

#first fetch all reviews to scrape first 100 review
all_review = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]').click()

In [28]:
#creating empty lists to store all the scraped data:

rating = []
Review_summary=[]
Full_review=[]

a = driver.current_url

for page in range(1,11,1):
    driv = a+"&page="+str(page)    
    
    #fetching all rating tags first
    rating_tags = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

    #extracting text data from the tags
    for i in range(len(rating_tags)):
        if page==10:
            value = rating_tags[i].text
            rating.append(value)
        else:
            value = rating_tags[i].text
            rating.append(value)

    #fetching all summary tags
    summary_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

    #extracting text data from the tags and storing in list
    for i in range(len(summary_tags)):
        if page==10:
            value = summary_tags[i].text
            Review_summary.append(value)
        else:
            value = summary_tags[i].text
            Review_summary.append(value)

        #fetching all full review tags
    full_review_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

    #extracting text data from the tags and storing in list
    for i in range(len(full_review_tags)):
        if page==10:
            value = full_review_tags[i].text
            Full_review.append(value)
        else:
            value = full_review_tags[i].text
            Full_review.append(value)

print("The length of each list are:",(len(rating), len(Review_summary), len(Full_review)))
        
print("\n The dataframe of Rating, Review Summary and Full Review is:")
df = pd.DataFrame({'Rating':rating,'Review Summary': Review_summary, 'Full Review': Full_review})
df

The length of each list are: (100, 100, 100)

 The dataframe of Rating, Review Summary and Full Review is:

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

### 6. Scrape data for first 100 sneakers you find when you visit https://www.flipkart.com/ and search for “sneakers” in the search field. 
Scrape 1. Brand 2. Product Description 3. Price

In [29]:
#connect to the webdriver
driver= webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

driver.get('https://www.flipkart.com/')

#click the cancel button for pop up.
cancel_btn = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
cancel_btn.click()

#finding elements for product search: 
product_search= driver.find_element_by_class_name("_3704LK")
product_search.send_keys("sneakers")

search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [30]:
#scraping data
Brand=[]
Product_Description=[]
Price=[]

#fetching data from multiple pages iterating over page numbers
a = driver.current_url

for page in range(1,4,1):
    driv = a +'page='+str(page)
    
        
    #extracting all brand tags 
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

    #extracting text data from the tags
    for i in range(len(brand_tags)):
        if page == 3:
            if i <20:
                brand_name= brand_tags[i].text
                Brand.append(brand_name)
        else:
            brand_name= brand_tags[i].text
            Brand.append(brand_name)

    #extracting all Product description tags 
    prod_desc_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')

    #extracting text data from the tags
    for i in range(len(prod_desc_tags)):
        if page == 3:
            if i <20:
                description = prod_desc_tags[i].text
                Product_Description.append(description)
        else:
            description = prod_desc_tags[i].text
            Product_Description.append(description)
            
    
    #selecting price and percentage discount values  of different class
    price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    percent_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    
    for i in range(len(percent_tags)):
        if page == 3:
            if i <22:
                cost = price_tags[i].text+','+percent_tags[i].text
                Price.append(cost)
        else:
            cost = price_tags[i].text+','+percent_tags[i].text
            Price.append(cost)

print("The length of all lists :",len(Brand), len(Product_Description), len(Price))

print("The Dataframe of scraped data:")
df = pd.DataFrame({'Brand':Brand,'Product Description':Product_Description,'Price':Price})
df

The length of all lists : 100 100 100
The Dataframe of scraped data:

,Brand,Product Description,Price
0,SRK,SRK Men's stylish shoes Sneakers For Men,"₹549,54% off"
1,BIRDE,Sneakers For Men,"₹423,57% off"
2,RapidBox,Sneakers For Men,"₹590,40% off"
3,BIRDE,Sports Running Shoes Sneakers For Men,"₹322,35% off"
4,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,"₹536,66% off"
...,...,...,...
95,SHOEFLY,Running Shoes For Men Sneakers For Men,"₹649,56% off"
96,SCATCHITE,Sneakers Sneakers For Men,"₹173,65% off"
97,Clymb,Sneakers For Men,"₹1,999,50% off"
98,ganpati traders,Sneakers For Men,"₹499,75% off"
99,PUMA,Smash v2 SL one8 Sneakers For Men,"₹379,62% off"

### 7. Python program to visit the https://www.myntra.com/shoes link apply the  Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, and scrape First 100 shoes data. 
Scrape 1. Brand 2. Product Description 3. Price

In [31]:
#connect to the webdriver
driver= webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

driver.get('https://www.myntra.com/shoes')

#filters: Price (As “Rs. 6649 to Rs. 13099” is not available, applied nearest filter)
Price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
Price_filter.click()

#filters: Color
Color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
Color_filter.click()

In [32]:
#scraping data
Brand=[]
Shoe_Description=[]
Price=[]

#fetching data from multiple pages iterating over page numbers
a = driver.current_url

for page in range(1,3,1):
    driv = a +'p='+str(page)

    #extracting all brand tags 
    brand_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

    #extracting text data from the tags
    for i in range(len(brand_tags)):
        brand_name= brand_tags[i].text
        Brand.append(brand_name)
       
    #extracting all description tags 
    shoe_desc_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')

    #extracting text data from the tags
    for i in range(len(shoe_desc_tags)):
        description = shoe_desc_tags[i].text
        Shoe_Description.append(description)
        
    #extracting all price tags 
    price_tags = driver.find_elements_by_xpath('//div[@class="product-price"]')

    #extracting text data from the tags
    for i in range(len(price_tags)):
        value = shoe_desc_tags[i].text
        Price.append(value)
        
print("The length of all lists :",len(Brand), len(Shoe_Description), len(Price))

print("\n The Dataframe of scraped data:")
df = pd.DataFrame({'Brand':Brand,'Shoe Description':Shoe_Description,'Price':Price})
df

The length of all lists : 100 100 100

 The Dataframe of scraped data:

,Brand,Shoe Description,Price
0,Street Style Store,Women Suede High-Top Flat Boots,Women Suede High-Top Flat Boots
1,Eego Italy,Men Trekking Shoes,Men Trekking Shoes
2,Nike,Men Revolution 5 Running Shoes,Men Revolution 5 Running Shoes
3,Red Tape,Men Walking Shoes,Men Walking Shoes
4,PUMA Motorsport,Unisex Drift Cat 8 Sneakers,Unisex Drift Cat 8 Sneakers
...,...,...,...
95,ZAPATOZ,Women Walking Shoes,Women Walking Shoes
96,Puma,Men Fire Run IDP Sneakers,Men Fire Run IDP Sneakers
97,ASIAN,Men Running Shoes,Men Running Shoes
98,Fentacia,Men Lightweight Flat Boots,Men Lightweight Flat Boots
99,ADIDAS,Men Glarus Running Shoes,Men Glarus Running Shoes

### 8. Python program to scrape data of Laptops inthe https://www.amazon.in/ link apply the  Price filter to “ “Intel Core i7” and “Intel Core i9”, and scrape First 10 laptop data. 
Scrape 1. Title 2. Rating 3. Price

In [52]:
#connect to the webdriver
driver= webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

driver.get('https://www.amazon.in/')

#finding elements for Laptop search: 
product_search= driver.find_element_by_id("twotabsearchtextbox")
product_search.send_keys("Laptops")

#click search button
search_btn = driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]')
search_btn.click()

In [55]:
#filters: Intel Core i7 and Intel Core i9 
intel_i7_i9 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[10]/span/a/div/label/i")
intel_i7_i9.click()

In [56]:
#scraping data
Title=[]

#extracting all title tags
title_tags= driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')

#extracting text data from the tags
for i in range(len(title_tags)):
    if i <10:
        value = title_tags[i].text
        Title.append(value)

In [57]:
Price=[]
#extracting all price tags
price_tags= driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

#extracting text data from the tags
for i in range(len(price_tags)):
    if i <10:
        value = price_tags[i].text
        Price.append(value)

In [58]:
Rating=[]
hrefs=[]
#extracting all rating tags   
link_tags = driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')
for link in range(len(link_tags)):
    href = link_tags[link].get_attribute('href')
    hrefs.append(href)

for i in range(len(hrefs)):
    if i <10:
        driver.get(hrefs[i])
        rating = driver.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]/span')
        Rating.append(rating.text)

In [59]:
#checking length of all lists
print("The length of all lists :",'t',len(Title), 'r',len(Rating),'p',len(Price))

print("\n The Dataframe of scraped data:")
df = pd.DataFrame({'Title':Title,'Rating':Rating,'Price':Price})
df

The length of all lists : t 10 r 10 p 10

 The Dataframe of scraped data:

                                               Title        Rating   Price
0  Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...  4.3 out of 5  92,990
1  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    4 out of 5  89,990
2  Mi Notebook Pro QHD+ IPS Anti Glare Display In...  4.3 out of 5  72,999
3  Lenovo Yoga 7 11th Gen Intel Core i7 14" Full ...  4.3 out of 5  97,490
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5  49,990
5  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...  4.3 out of 5  84,990
6  Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...  4.3 out of 5  92,990
7  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  4.3 out of 5  90,990
8  HP Pavilion Gaming(2021) 10th Gen Intel Core i...  4.1 out of 5  86,990
9  Acer Swift 5 Intel i7 11th Gen 14 inches Ultra...  3.6 out of 5  91,990

### 9. Python program to scrape data for first 10 job results for Data Scientist Designation in Noida location from https://www.ambitionbox.com/. 

Scarpe company name, No. of days ago when job was posted, Rating of the company.

In [ ]:
#connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

driver.get('https://www.ambitionbox.com/')

job_tab = driver.find_element_by_xpath('//a[@class="link jobs"]')
job_tab.click()

#finding elements for job search: job and location
search_job = driver.find_element_by_xpath('//input[@class="input tt-input"]')
search_job.send_keys("Data Scientist")

search_btn = driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]/span')
search_btn.click()

In [142]:
driver.find_element_by_xpath('//div[@title="Location"]').click()

loc = driver.find_element_by_id('location_Noida').click()

In [145]:
Company_names = []
No_of_days =[]
Rating = []

#extract all the company tags
company_tags = driver.find_elements_by_xpath('//p[@class="company body-medium"]')

#extracting text data from the tags
for i in range(len(company_tags)):
    if i < 10:
        name = company_tags[i].text
        Company_names.append(name)


#extract all the number of days tags
days_tags = driver.find_elements_by_xpath('//span[@class="body-small-l"]')


#extracting text data from the tags
for i in range(len(days_tags)):
    if i < 19:
        name = days_tags[i].text
        if name == 'via naukri.com' or name == 'via iimjobs.com':
            continue 
        else:
            No_of_days.append(name)


#extract all the rating tags
rating_tags = driver.find_elements_by_xpath('//span[@class="body-small"]')


#extracting text data from the tags
for i in range(len(rating_tags)):
    if i < 10:
        name = rating_tags[i].text
        Rating.append(name)
        
        
#checking length of all lists
print("The length of all lists :",len(Company_names), len(No_of_days), len(Rating))

print("\n The Dataframe of scraped data:")
df = pd.DataFrame({'Company Names':Company_names,'Job updated': No_of_days,'Rating':Rating})
df

The length of all lists : 10 10 10

 The Dataframe of scraped data:

                         Company Names Job updated Rating
0       LG Electronics India Pvt. Ltd.      5d ago    4.1
1        GENPACT India Private Limited     12d ago    4.0
2        GENPACT India Private Limited     12d ago    4.0
3  NTT Data Business Solutions Pvt Ltd     13d ago    3.8
4        GENPACT India Private Limited     14d ago    4.0
5                             GI Group      6d ago    4.0
6                             GI Group      6d ago    4.0
7                             GI Group     10d ago    4.0
8                     Steria India Ltd    1mon ago    4.1
9                                Zyoin      7d ago    4.1

### 10. Python program to scrape the salary data for Data Scientist designation from https://www.ambitionbox.com/ 

Scrape Company name, Number of salaries, Average salary, Min salary, Max Salary

In [148]:
#connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")

driver.get('https://www.ambitionbox.com/')

job_tab = driver.find_element_by_xpath('//a[@title="Company Salaries"]')
job_tab.click()

#finding elements for salary comparision: jobs
search_job = driver.find_element_by_xpath('//input[@class="tt-input"]')
search_job.send_keys("Data Scientist")

search_btn = driver.find_element_by_xpath('//i[@class="icon-search"]')
search_btn.click()

In [226]:
Company_names = []
No_of_sal =[]
Average_sal = []
Sal=[]
Min_sal=[]
Max_sal = []

#extract all the company tags
name_tags = driver.find_elements_by_xpath('//div[@class="name"]')

#extracting text data from the tags
for i in range(len(name_tags)):
    if i < 10:
        name = name_tags[i].text.split('\n')[0]
        Company_names.append(name)

#extract all the company tags
no_sal_tags = driver.find_elements_by_xpath('//div[@class="name"]')

#extracting text data from the tags
for i in range(len(no_sal_tags)):
    if i < 10:
        val = no_sal_tags[i].text.split('\n')[1]
        No_of_sal.append(val)

#extract all the Average tags
avg_sal_tags = driver.find_elements_by_xpath('//p[@class="averageCtc"]')

#extracting average sal text data from the tags
for i in range(len(avg_sal_tags)):
    if i < 10:
        avg = avg_sal_tags[i].text    
        Average_sal.append(avg)


        
#extract all the sal tags
sal_tags = driver.find_elements_by_xpath('//div[@class="value body-medium"]')

#extracting text data of min and max salary from the tags using logic,
for i in range(len(sal_tags)):
    if i <20:
        sal = sal_tags[i].text
        Sal.append(sal)
        
Min_sal.append(Sal[0::2])
Min_sal=str(Min_sal).split(',')
Max_sal.append(Sal[1::2])
Max_sal=str(Max_sal).split(',')
    

    
#checking length of all lists
print("The length of all lists :",len(Company_names),len(No_of_sal), len(Average_sal),len(Min_sal), len(Max_sal))

print("\n The Dataframe of scraped data:")
df = pd.DataFrame({'Company Names':Company_names,'Salary updated': No_of_sal,'Average Salary':Average_sal,'Minimum Salary':Min_sal,'Maximum Salary':Max_sal})
df

The length of all lists : 10 10 10 10 10

 The Dataframe of scraped data:

,Company Names,Salary updated,Average Salary,Minimum Salary,Maximum Salary
0,Tekion,based on 10 salaries,₹ 23.3L,[['₹ 14.0L',[['₹ 32.0L'
1,Microsoft Corporation,based on 218 salaries,₹ 22.4L,'₹ 12.0L','₹ 45.0L'
2,Goldman Sachs,based on 11 salaries,₹ 21.9L,'₹ 16.0L','₹ 30.0L'
3,Flipkart,based on 53 salaries,₹ 20.6L,'₹ 7.0L','₹ 30.0L'
4,Amazon,based on 80 salaries,₹ 19.1L,'₹ 8.0L','₹ 40.0L'
5,Arcesium,based on 35 salaries,₹ 18.4L,'₹ 12.0L','₹ 30.0L'
6,Servicenow Software Development India,based on 27 salaries,₹ 18.2L,'₹ 12.0L','₹ 25.0L'
7,ServiceNow,based on 15 salaries,₹ 18.2L,'₹ 12.7L','₹ 23.0L'
8,Walmart,based on 77 salaries,₹ 17.9L,'₹ 10.0L','₹ 32.0L'
9,PayPal,based on 12 salaries,₹ 17.6L,'₹ 12.0L']],'₹ 23.0L']]